#ResetPassword {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ResetPassword>form>label,
#ResetPassword>form>input {
    display: block;
}

.validation-errors {
    color: red;
}

input.invalid {
    border: 1px solid red;
}